---
import Base from '../../components/Base.astro'
import BlogLayout from '../../components/BlogLayout.astro'
import { CaretLeft, ArrowLeft, ArrowRight } from 'phosphor-react'
import { allBlogPosts } from '../../lib/posts'

export async function getStaticPaths() {
  const posts = await allBlogPosts(
    await Astro.glob('../../content/posts/**/*.md'),
    await Astro.glob('../../content/posts/ghost.json')
  )

  return posts.map(post => {
    const postsOfSameType = posts.filter(p => p.technical === post.technical)

    return {
      params: { slug: post.slug },
      props: {
        post,
        previousPost: postsOfSameType?.[postsOfSameType.indexOf(post) + 1],
        nextPost: postsOfSameType?.[postsOfSameType.indexOf(post) - 1]
      }
    }
  })
}

const { post, previousPost, nextPost } = Astro.props
---

<Base title={post.title} bg="bg-zinc-50" ogImage={`/og-images/post?title=${encodeURIComponent(post.title)}`}>
<BlogLayout>
  <div class="mb-6">
    <a href="/posts"
      class="flex items-center gap-1.5 bg-rose-600 text-sm font-semibold text-white px-2.5 py-0.5 rounded-full max-w-max">
      <CaretLeft weight="bold" className="[&_polyline]:[stroke-width:36]" />
      <span>Ben Borgers’ Blog</span>
    </a>
  </div>

  <div class="space-y-1 sm:space-y-2">
    <h1 class="font-fraunces font-black text-3xl text-zinc-900">{post.title}</h1>
    <p class="text-zinc-400 font-medium">{post.date.toFormat('LLLL d, yyyy')}</p>
  </div>

  <div class="mt-8" />

  <div class="
    prose max-w-none
    prose-zinc prose-rose
    prose-headings:font-fraunces
    prose-img:mx-auto prose-video:mx-auto
    prose-img:max-h-[70vh] prose-video:max-h-[70vh]
    prose-figcaption:text-center
    prose-img:w-auto prose-video:w-auto
    prose-pre:!bg-zinc-100 prose-pre:text-zinc-800 prose-pre:rounded-xl
    before:prose-code:content-none
    after:prose-code:content-none
    [&_summary]:cursor-pointer [&_summary]:bg-zinc-100 [&_summary]:px-4 [&_summary]:py-2 [&_summary]:rounded-xl
    [&_code:not(pre_code)]:bg-zinc-200/50 [&_code:not(pre_code)]:text-red-500 [&_code:not(pre_code)]:px-1 [&_code:not(pre_code)]:py-0.5 [&_code:not(pre_code)]:rounded-md
    [&_.kg-callout-card]:bg-zinc-200/50 [&_.kg-callout-card]:p-4 [&_.kg-callout-card]:grid [&_.kg-callout-card]:grid-cols-[max-content,1fr] [&_.kg-callout-card]:gap-x-4
  ">
    {post.html ? (
    <Fragment set:html={post.html} />
    ) : (
    <post.component />
    )}
  </div>

  {!post.technical && (
  <div class="mt-12 flex justify-between space-x-4">
    <div>
      {previousPost && (
      <a href={`/posts/${previousPost.slug}`} class="flex items-start space-x-2 text-zinc-400">
        <ArrowLeft weight="bold" size={14} className="mt-[0.1rem] [&_polyline]:[stroke-width:28]" />
        <span class="italic text-sm font-bold leading-tight">{previousPost.title}</span>
      </a>
      )}
    </div>
    <div>
      {nextPost && (
      <a href={`/posts/${nextPost.slug}`} class="flex items-start space-x-2 text-zinc-400">
        <span class="italic text-sm font-bold leading-tight">{nextPost.title}</span>
        <ArrowRight weight="bold" size={14} className="mt-[0.1rem] [&_polyline]:[stroke-width:28]" />
      </a>
      )}
    </div>
  </div>
  )}
</BlogLayout>
</Base>
