---
import { ArrowLeft, ArrowRight } from "phosphor-react";
import Layout from "../../layouts/Layout.astro";
import Newsletter from "../../components/Newsletter.astro";
import { getPosts } from "../../lib/blog";

export async function getStaticPaths() {
  const posts = await getPosts();

  const postsOfSameTypeMap = {
    true: posts.filter((post) => post.technical),
    false: posts.filter((post) => !post.technical),
  };

  return posts.map((post) => {
    const postsOfSameType =
      postsOfSameTypeMap[post.technical ? "true" : "false"];

    return {
      params: { slug: post.slug },
      props: {
        post,
        nextPost: postsOfSameType?.[postsOfSameType.indexOf(post) - 1],
        previousPost: postsOfSameType?.[postsOfSameType.indexOf(post) + 1],
      },
    };
  });
}

const { post, nextPost, previousPost } = Astro.props;
---

<Layout title={post.title}>
  <script
    src={`https://write.benborgers.com/public/cards.min.js?v=${new Date().getTime()}`}
    defer
    slot="head"
  ></script>
  <link
    rel="stylesheet"
    href={`https://write.benborgers.com/public/cards.min.css?v=${new Date().getTime()}`}
    slot="head"
  />

  <div class="pt-6 sm:pt-10">
    <h1 class="text-gray-900 font-width-5 font-bold text-3xl">
      {post.title}
    </h1>
    <p class="mt-1 text-right font-width-3 font-medium text-gray-400">
      {post.date.toFormat("LLLL d, yyyy")}
    </p>
  </div>

  <div
    class:list={[
      "mt-8",
      "prose max-w-none",
      "prose-p:leading-loose",
      "prose-a:text-rose-500",
      "prose-headings:font-width-5",
      "prose-em:not-italic prose-em:font-slant-10 prose-blockquote:not-italic prose-blockquote:font-slant-10",
      "prose-img:max-h-[70vh] prose-img:mx-auto prose-img:w-auto prose-video:max-h-[70vh] prose-video:mx-auto prose-video:w-auto",
      "prose-figcaption:text-center",
      "before:prose-code:content-none after:prose-code:content-none",
      "prose-pre:rounded-lg",
      "[&_code:not(pre_code)]:bg-gray-100 [&_code:not(pre_code)]:text-gray-800 [&_code:not(pre_code)]:px-1 [&_code:not(pre_code)]:py-0.5 [&_code:not(pre_code)]:rounded-md",
      "[&_.kg-callout-card]:bg-gray-50 [&_.kg-callout-card]:border [&_.kg-callout-card]:border-gray-100 [&_.kg-callout-card]:rounded-xl [&_.kg-callout-card]:p-4 [&_.kg-callout-card]:grid [&_.kg-callout-card]:grid-cols-[max-content,1fr] [&_.kg-callout-card]:gap-x-4",
    ]}
  >
    {post.component ? <post.component /> : <Fragment set:html={post.html} />}
  </div>

  <div class="mt-16"></div>

  {
    !post.technical && (
      <div class="mb-8 flex items-start justify-between gap-x-8">
        <div>
          {previousPost && (
            <a
              href={`/posts/${previousPost.slug}`}
              class="flex items-start gap-x-2 text-gray-400 hover:text-rose-500 transition-colors"
            >
              <ArrowLeft
                weight="bold"
                className="mt-0.5 flex-shrink-0"
                size={14}
              />
              <span class="text-sm font-semibold font-width-5 font-slant-10">
                {previousPost.title}
              </span>
            </a>
          )}
        </div>

        <div>
          {nextPost && (
            <a
              href={`/posts/${nextPost.slug}`}
              class="flex items-start gap-x-2 text-gray-400 hover:text-rose-500 transition-colors"
            >
              <span class="text-sm font-semibold font-width-5 font-slant-10 text-right">
                {nextPost.title}
              </span>
              <ArrowRight
                weight="bold"
                className="mt-0.5 flex-shrink-0"
                size={14}
              />
            </a>
          )}
        </div>
      </div>
    )
  }

  <Newsletter />
</Layout>
