---
// courses = [{ title, subtitle, href }]
const { label, courses, className } = Astro.props;

import { ArrowRight } from "phosphor-react";
---

<div class={className}>
  <h2
    class="font-black bg-emerald-600 border border-zinc-900 text-white p-2 text-sm"
    id={label.toLowerCase().replace(/ /g, "-")}
  >
    {label}
  </h2>

  <div
    class="-mt-px sm:grid border border-zinc-900 divide-y sm:divide-y-0 sm:divide-x divide-zinc-900"
    style={{ gridTemplateColumns: `repeat(${courses.length}, 1fr)` }}
  >
    {
      courses.map((course) => (
        <div class="p-2 relative leading-snug">
          <p class="font-bold text-zinc-800">{course.title}</p>
          {course.subtitle && (
            <p class="font-medium text-zinc-500">{course.subtitle}</p>
          )}

          {course.href && (
            <div class="mt-2 flex items-center justify-end gap-x-1 text-zinc-400">
              <span class="text-xs font-bold italic">Notes</span>
              <ArrowRight
                weight="bold"
                size={10}
                className="[&_*]:[stroke-width:32]"
              />
            </div>

            <a href={course.href} class="absolute inset-0 hover:bg-zinc-900/10 transition-colors"></a>
          )}
        </div>
      ))
    }
  </div>
</div>
