---
import { Image } from "astro:assets";
import star from "../images/star.png";
import Layout from "../layouts/layout.astro";
import { getPosts } from "../lib/posts";

const posts = await getPosts({ includeUnlisted: false });

const postsByMonth = Object.groupBy(posts, (post) => {
  const date = post.data.date;
  if (!date) throw new Error("Post has no date");
  return date.toLocaleString("en-US", {
    timeZone: "UTC",
    month: "long",
    year: "numeric",
  });
});
---

<Layout title="Ben Borgers’ Blog">
  <div>
    {
      Object.entries(postsByMonth).map(([heading, posts]) => (
        <>
          <p class="mt-6 first-of-type:mt-0 text-gray-400 font-medium">
            {heading}
          </p>

          {posts!.map((post) => (
            <p
              class:list={[
                "mt-2 lg:mt-1 flex gap-x-2 items-baseline",
                post.data.starred && "lg:-ml-7",
              ]}
            >
              {post.data.starred && (
                <Image
                  src={star}
                  alt="Starred post"
                  width={128}
                  class="w-5 max-lg:hidden"
                />
              )}

              <a
                href={`/${post.slug}`}
                class="text-gray-900 font-medium text-xl leading-[1.2] underline decoration-1 decoration-gray-300 underline-offset-[1.5px]"
              >
                {post.data.title}

                {post.data.starred && (
                  <Image
                    src={star}
                    alt="Starred post"
                    width={128}
                    class="w-5 inline-block ml-1 -translate-y-0.5 lg:hidden"
                  />
                )}
              </a>
            </p>
          ))}
        </>
      ))
    }
  </div>
</Layout>
