---
import { render, type CollectionEntry } from "astro:content";
import { imageSize } from "image-size";
import { readFileSync } from "fs";
import { join } from "path";
import CoverImage from "./cover-image.astro";
import Prose from "./prose.astro";
import RelatedPosts from "./related-posts.astro";

interface Props {
  entry: CollectionEntry<"posts"> | CollectionEntry<"pages">;
  coverImage?: string;
  coverImagePosition?: "top" | "bottom";
}

const {
  entry,
  coverImage: coverImageProp,
  coverImagePosition = "top",
} = Astro.props;

const title = entry.collection === "posts" ? entry.data.title : undefined;
const date = entry.collection === "posts" ? entry.data.date : undefined;
const coverImage = coverImageProp
  ? coverImageProp
  : entry.collection === "posts"
    ? entry.data.cover_image
    : undefined;

const coverImageTop = coverImage && coverImagePosition !== "bottom";
const coverImageBottom = coverImage && coverImagePosition === "bottom";

let coverImageDimensions: {
  width?: number;
  height?: number;
} = {};
if (coverImage && !coverImage.startsWith("http")) {
  try {
    const filePath = join(process.cwd(), "public", coverImage);
    const dims = imageSize(readFileSync(filePath));
    if (dims.width && dims.height) {
      coverImageDimensions = {
        width: dims.width,
        height: dims.height,
      };
    }
  } catch {}
}

const hasFrontmatter = coverImageTop || title || date;

const { Content } = await render(entry);
---

{
  entry.collection === "posts" && entry.data.draft && (
    <p class="mb-10 bg-brand-yellow-light text-brand-red border border-brand-red px-2 py-0.5 font-medium max-w-max mx-auto">
      draft post
    </p>
  )
}

{
  hasFrontmatter && (
    <>
      {coverImageTop && (
        <CoverImage
          src={coverImage}
          width={coverImageDimensions.width}
          height={coverImageDimensions.height}
        />
      )}

      {title && (
        <h1
          class:list={[
            "text-gray-950 text-4xl md:text-5xl font-xl font-black text-center text-balance",
            coverImageTop && "mt-6",
          ]}
        >
          {title}
        </h1>
      )}

      {date && (
        <time class="block mt-4 text-sm font-medium text-gray-500 text-center">
          {date.toLocaleString("en-US", {
            timeZone: "UTC",
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )}
    </>
  )
}

<div class:list={[hasFrontmatter ? "mt-10" : "mt-2"]}>
  <Prose>
    <Content />
  </Prose>

  {
    entry.collection === "posts" && !import.meta.env.CHEETAH && (
      <RelatedPosts
        entry={entry}
        class="lg:hidden mt-10 pt-10 border-t border-gray-100"
      />
    )
  }

  {
    coverImageBottom && (
        <CoverImage
          src={coverImage}
          class="mt-18"
          width={coverImageDimensions.width}
          height={coverImageDimensions.height}
        />
    )
  }
</div>

{import.meta.env.CHEETAH && (
  <script>
    window.addEventListener("message", (event) => {
      if (event.data.type === "scroll") {
        const scrollHeight =
          document.documentElement.scrollHeight - window.innerHeight;
        window.scrollTo({
          top: scrollHeight * event.data.percentage,
          behavior: event.data.behavior,
        });
      }
    });
  </script>
)}
