---
import Base from "./Base.astro";
import { ArrowBendDownRight } from "phosphor-react";

const { frontmatter, url, file } = Astro.props;

const courseToName = {
  cs86: "OOP for GUI",
  psy1: "Intro to Psychology",
  chem6: "Bang Bang to Humankind",
  ger170: "Grimms’ Fairy Tales",
};

const courseId = url.split("/")[2];
const courseName = courseToName[courseId];

const isIndex = file.endsWith("index.mdx");
---

<Base title={frontmatter.title + (!isIndex ? " - " + courseName : "")}>
  <link slot="head" rel="preconnect" href="https://fonts.bunny.net" />
  <link
    slot="head"
    href="https://fonts.bunny.net/css?family=pt-serif:400,400i,700,700i"
    rel="stylesheet"
  />

  <div class="p-4 lg:pl-16 md:pt-32 text-zinc-700 md:flex gap-x-20 lg:gap-x-24">
    {/* Column 1 */}
    <div>
      <div
        class="md:sticky md:top-12 grid grid-cols-[1fr,max-content] md:grid-cols-1 md:grid-rows-[120px,max-content]"
      >
        <a
          href="/"
          class="md:hidden underline decoration-transparent hover:decoration-orange-500 transition-colors duration-100 font-semibold tracking-tight text-zinc-900 max-w-max h-max"
        >
          Ben Borgers
        </a>

        <a href="/tufts#fall-2022" class="hidden md:block w-max h-max group">
          <div
            class="border-2 border-orange-500 px-2 py-1 group-hover:bg-orange-500 transition-colors duration-100"
          >
            <p
              class="text-sm font-black text-zinc-900 group-hover:text-white transition-colors duration-100"
            >
              F’22
            </p>
          </div>
        </a>

        <nav class="md:ml-1.5 mt-0.5 md:mt-0 space-y-0.5 md:space-y-1.5">
          <a
            href="/tufts#fall-2022"
            class="block w-max text-sm text-zinc-800 hover:text-zinc-500 transition-colors"
            >Tufts, Fall ’22</a
          >
          {
            Object.keys(courseToName).map((course) => (
              <a
                href={`/tufts/${course}`}
                class="flex items-center gap-2 w-max text-sm text-zinc-800 hover:text-zinc-500 transition-colors"
              >
                <ArrowBendDownRight
                  weight="bold"
                  className={
                    url.includes(course) ? "text-orange-500" : "text-zinc-400"
                  }
                />
                <span>{courseToName[course]}</span>
              </a>
            ))
          }
        </nav>
      </div>
    </div>

    {/* Column 2 */}
    <div
      class="grid grid-rows-[110px,max-content] w-full max-w-screen-sm mt-8 md:mt-0"
    >
      <div class="mt-1.5 hidden md:block">
        <a
          href="/"
          class="underline decoration-transparent hover:decoration-orange-500 transition-colors duration-100 mt-2.5 font-semibold tracking-tight text-zinc-900"
        >
          Ben Borgers
        </a>
      </div>

      <div>
        <div class="border-b-2 border-zinc-100 pb-4">
          <div class="flex justify-between items-end gap-2">
            <div>
              <h1 class="prose text-2xl md:text-3xl font-black text-zinc-900">
                {frontmatter.title}
              </h1>
            </div>

            {
              frontmatter.date && !frontmatter.title.trim().endsWith(", 2022") && (
                <p class="text-zinc-400 text-sm font-medium italic whitespace-nowrap">
                  <time datetime={frontmatter.date}>
                    {new Date(frontmatter.date).toLocaleString("en-US", {
                      timeZone: "UTC",
                      month: "short",
                      year: "numeric",
                    })}
                  </time>
                </p>
              )
            }
          </div>
          {
            !isIndex && (
              <a href={`/tufts/${courseId}`} class="block max-w-max">
                <h2 class="mt-0.5 text-orange-500 text-sm font-bold underline decoration-transparent decoration-2 hover:decoration-orange-500 transition-colors duration-100">
                  {courseName}
                </h2>
              </a>
            )
          }
        </div>

        <div class="mt-12"></div>

        <div
          class="pb-36 prose prose-zinc prose-orange font-['PT_Serif',Georgia,serif] prose-headings:font-sans"
        >
          <slot />
        </div>
      </div>
    </div>
  </div>
</Base>
