---
import { getEntry } from "astro:content";
import NavLink from "../components/nav-link.tsx";
import {
  Butterfly,
  CalendarBlank,
  EnvelopeSimple,
  GithubLogo,
  House,
  List,
  Package,
  Rss,
  TwitterLogo,
  User,
  X,
} from "@phosphor-icons/react";

interface Props {
  title: string;
}

const { title } = Astro.props;

const nowPageLastUpdated = (await getEntry("pages", "now"))?.data.date;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Ben Borgers" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Borgers"
      href="/rss"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      src="https://owl.benborgers.com/script.js"
      data-site="ZWCPJCUA"
      data-included-domains="benborgers.com"
      defer
      is:inline></script>
  </head>
  <body class="antialiased bg-gray-800">
    <div
      class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-gray-700 to-gray-800"
    >
    </div>

    <div
      class="relative w-full max-w-screen-md mx-auto min-h-screen grid grid-rows-[auto_1fr] pb-24"
    >
      <header class="sm:mt-10 p-4 flex justify-between items-end">
        <a
          href="/"
          class="text-lg font-semibold text-gray-200 tracking-tight [text-shadow:0_0_1px_rgba(0,0,0,0.5)]"
        >
          Ben Borgers
        </a>

        <div class="flex items-end gap-x-4">
          <img
            src="/me.jpg"
            alt=""
            class="h-12 shadow-sm rounded-lg rotate-3 ring-1 ring-gray-800/40"
          />

          <button class="sm:hidden p-1" data-nav-toggle>
            <List
              weight="bold"
              size={24}
              className="text-gray-500 data-[nav=open]:hidden"
              data-nav="closed"
            />
            <X
              weight="bold"
              size={24}
              className="text-gray-500 data-[nav=closed]:hidden"
              data-nav="closed"
            />
          </button>
        </div>
      </header>

      <div
        class="bg-gray-800 p-2 sm:p-4 sm:rounded-[1.75rem] grid grid-rows-[max-content,1fr] sm:grid-rows-none sm:grid-cols-[3fr_1fr] gap-x-4"
      >
        <main class="min-w-0 z-20">
          <slot />
        </main>

        <nav
          class:list={[
            "space-y-2 sm:space-y-4 max-sm:-order-1",
            "max-h-96 max-sm:data-[nav=closed]:max-h-0 max-sm:data-[nav=closed]:opacity-0 max-sm:data-[nav=closed]:pointer-events-none",
            "transition-all duration-300 ease-in-out",
            "z-10",
          ]}
          data-nav-container
          data-nav="closed"
        >
          <div class="ring-1 ring-gray-900/40 shadow-sm rounded-xl">
            <NavLink
              href="/"
              label="Home"
              icon={House}
              pathname={Astro.url.pathname}
            />
            <NavLink
              href="/about"
              label="About"
              icon={User}
              pathname={Astro.url.pathname}
            />
            <NavLink
              href="/projects"
              label="Projects"
              icon={Package}
              pathname={Astro.url.pathname}
            />
            <NavLink
              href="/now"
              label="Now"
              subtitle={nowPageLastUpdated &&
                `Updated ${nowPageLastUpdated.toLocaleString("en-US", { timeZone: "UTC", month: "short", day: "numeric" })}`}
              icon={CalendarBlank}
              pathname={Astro.url.pathname}
            />
          </div>

          <div class="ring-1 ring-gray-900/40 shadow-sm rounded-xl">
            <NavLink
              href="https://x.com/benborgers"
              newTab
              label="Twitter"
              icon={TwitterLogo}
            />
            <NavLink
              href="https://bsky.app/profile/benborgers.com"
              newTab
              label="BlueSky"
              icon={Butterfly}
            />
            <NavLink
              href="https://github.com/benborgers"
              newTab
              label="GitHub"
              icon={GithubLogo}
            />
          </div>

          <div class="ring-1 ring-gray-900/40 shadow-sm rounded-xl">
            <NavLink
              href="https://buttondown.com/benborgers"
              newTab
              label="Newsletter"
              icon={EnvelopeSimple}
            />
            <NavLink href="/rss" newTab label="RSS feed" icon={Rss} />
          </div>

          {/* Spacer at bottom of nav on mobile. */}
          <div class="sm:hidden"></div>
        </nav>
      </div>
    </div>

    <script>
      // Nav toggle
      const button = document.querySelector(
        "[data-nav-toggle]"
      ) as HTMLButtonElement;
      const container = document.querySelector(
        "[data-nav-container]"
      ) as HTMLDivElement;

      let open = false;

      button.addEventListener("click", () => {
        open = !open;
        const dataNav = open ? "open" : "closed";

        container.dataset.nav = dataNav;

        button.querySelectorAll("*").forEach((icon) => {
          (icon as SVGElement).dataset.nav = dataNav;
        });
      });
    </script>
  </body>
</html>
