---
import { getEntry } from "astro:content";
import NavLink from "../components/nav-link.tsx";
import {
  Butterfly,
  CalendarBlank,
  GithubLogo,
  House,
  Package,
  TwitterLogo,
  User,
} from "@phosphor-icons/react";

interface Props {
  title: string;
}

const { title } = Astro.props;

const nowPageLastUpdated = (await getEntry("pages", "now"))?.data.date;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
  </head>
  <body class="antialiased bg-gray-800">
    <div
      class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-gray-700 to-gray-800"
    >
    </div>

    <div
      class="relative w-full max-w-screen-md mx-auto min-h-screen grid grid-rows-[auto_1fr] pb-24"
    >
      <header class="sm:mt-10 p-4 flex justify-between items-end">
        <a
          href="/"
          class="text-lg font-semibold text-gray-200 tracking-tight [text-shadow:0_0_1px_rgba(0,0,0,0.5)]"
        >
          Ben Borgers
        </a>

        <img
          src="/me.jpg"
          alt=""
          class="h-12 shadow-sm rounded-lg rotate-3 ring-1 ring-gray-800/40"
        />
      </header>

      <div class="bg-gray-800 p-4 rounded-2xl grid grid-cols-[3fr_1fr] gap-x-4">
        <main class="min-w-0">
          <slot />
        </main>

        <div class="space-y-4">
          <nav class="ring-1 ring-gray-900/40 shadow-sm rounded-xl">
            <NavLink
              href="/"
              label="Home"
              icon={House}
              pathname={Astro.url.pathname}
            />
            <NavLink
              href="/about"
              label="About"
              icon={User}
              pathname={Astro.url.pathname}
            />
            <NavLink
              href="/projects"
              label="Projects"
              icon={Package}
              pathname={Astro.url.pathname}
            />
            <NavLink
              href="/now"
              label="Now"
              subtitle={nowPageLastUpdated &&
                `Updated ${nowPageLastUpdated.toLocaleString("en-US", { timeZone: "UTC", month: "short", day: "numeric" })}`}
              icon={CalendarBlank}
              pathname={Astro.url.pathname}
            />
          </nav>

          <div class="ring-1 ring-gray-900/40 shadow-sm rounded-xl">
            <NavLink
              href="https://x.com/benborgers"
              newTab
              label="Twitter"
              icon={TwitterLogo}
            />
            <NavLink
              href="https://bsky.app/profile/ben.page"
              newTab
              label="BlueSky"
              icon={Butterfly}
            />
            <NavLink
              href="https://github.com/benborgers"
              newTab
              label="GitHub"
              icon={GithubLogo}
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
