---
import "../css/index.css";

import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  ogImage?: string;
  background?: string;
}

const { title, ogImage, background = "white" } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/🐙" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Ben Borgers" />

    {
      ogImage && (
        <>
          <meta
            property="og:image"
            content={`${Astro.site!.origin}/og?path=${ogImage}`}
          />
          <meta name="twitter:card" content="summary_large_image" />
          <meta
            name="twitter:image"
            content={`${Astro.site!.origin}/og?path=${ogImage}`}
          />
          <meta name="twitter:site" content="@benborgers" />
          <meta name="twitter:creator" content="@benborgers" />
        </>
      )
    }

    <link rel="stylesheet" href="https://md-ui.ben.page" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Borgers"
      href="/rss"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      src="https://owl.benborgers.com/script.js"
      data-site="ZWCPJCUA"
      data-included-domains="benborgers.com,ben.page"
      defer></script>

    <ClientRouter />
  </head>
  <body
    class="text-pretty"
    style={`background-color: ${background};`}
  >
    <slot />
  </body>
</html>
